<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for current_user %> 
        <%= current_user.name %>
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
 <%= form_tag(search_restaurants_path, method: :get) do %>
    
      <%=label_tag "Search Restaurants"%>
        <%= text_field_tag :search, params[:search] %><br/>
        
      
  <%end %>
      <% if current_user.rowner? %>
      <%= link_to "Add Restaurants",restaurants_new_path %>
      <%end %>
</div>
</div>