<p id="notice"><%= notice %></p>

<% if @restaurant!=nil %>


  <label>Restaurant's Name :</label><%= @restaurant.name %>
  </br>
  <label>Restaurant's Address:</label><%= @restaurant.address %>
  </br>
  <label>Restaurant's Details : </label><%= @restaurant.details %>
  </br>

  <h3> Reviews </h3>
  <% @restaurant.reviews.each do |x|%>

<label> <%= x.user.name  %>  wrote :</label><%= x.review_text %>
 </br>
  <%end %>
 
  
  <% end %>




<%params[:id]=@restaurant.id %>

<div>
 <%= form_tag('/reviews/create', method: :post) do %>
      <p>
        <%= text_field_tag :review, params[:review] %><br/>
                <%= submit_tag("Submit Review")  %>
      </p>
      <%end %>
      
</div>
<br />

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

</br>
</br>


