<% if @restaurant!=nil %>


  <label>Restaurant's Name :</label><%= @restaurant.name %>
  </br>
  <label>Restaurant's Address:</label><%= @restaurant.address %>
  </br>
  <label>Restaurant's Details : </label><%= @restaurant.details %>
  </br>

  <h3> Reviews : </h3>

  <div id = "reviews">
   <%= render @restaurant.reviews %>
 </div>
  
  <% end %>



<br />

<%if current_user!=nil && current_user.rowner %>
<%= render "reviews/form" %>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


</br>
</br>


